@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Koulen&display=swap');

body{
    font-family: "Exo", sans-serif;
    background-color: #afafaf;

}

h1{
    font-family: "Koulen", cursive;
}
/* ----------------------------------------------------Nav bar */
nav{
    font-family: 'Koulen', cursive;
}

.navbar-toggler{
    border: none;
}

/* ----------------------------------------------------Header */

.hero-image{
    background: url(../images/hero-image.jpeg) no-repeat center center;
    background-size: 100% auto;
    min-height: 450px;
    display:block;
    width: 100%;
    margin: auto;
    position: relative;
    /* NEED MEDIA QUERIES FOR HEIGHT ADJUSTMENT FOR UNDER 700PX WIDTH */
}

header{
    margin: 0;
    padding: none;
    color:#fafafa;
    text-align: center;
    background-color: black;
}

header h1{
    padding-top: 50px;
    font-size: 75px;
}

header h2{
    font-weight: 700;
}


/* ----------------------------------------------------Footer */
footer{
    font-family: 'Koulen', cursive;
    /* background-color: #353535; */
    text-align: center;
    color:#fafafa;
    height: 150px;
}

.social-media-icons{
    font-size: 30px;
    color:#fafafa;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-content{
    padding-top: 35px;
}